/* Global Styles */
* {
    text-decoration: none;
    list-style: none;

}

body{
    margin: 0;
    padding: 0;
}

/* Header Styles */
.banner {
    display: flex;
    background-color: #8B9296;
    justify-content: space-between;
    color: white;
    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
}

.banner-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-inline: 20%;
    padding-top: 0;
    padding-bottom: 0;
}

.banner-container div {
    display: flex;
    flex-direction: row;
}

.banner-container div img {
    width: 10px;
    height: 10px;
}

.banner-container div p {
    font-size: 15px;
    font-weight: bold;
    font-family:Georgia, 'Times New Roman', Times, serif
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-right: 20%;
    padding-inline: 15%;
}

.logo {
    height: 100px;
    padding-inline: 5%;
    padding-top: 0;
}

.nav-bar ul {
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.nav-bar ul a{
    font-size: 20px;
    font-weight: bold;
}

.item {

    color: black;
}
.item:hover {
    color: #8B9296;
}
.active {
    color: #8B9296;
}

.hero {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #659ABD;
    color: white;
    font-size: 30px;
    padding-inline: 12%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-family:Georgia, 'Times New Roman', Times, serif
}
